* {
padding: 0;

}

.container {

text-align: center;
margin: 60px auto;
font-family: 'Lato', sans-serif;
padding: 70px;
height: 350px;
width: 250px;

  
}

img{ 

  height: 100px;
  border-radius: 50%;
  border: 2px solid purple;
  padding: 2px;
}

ul li a {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    background:purple;
    margin-bottom: 5px;
    padding: 10px;

    

}


a {

  text-decoration: none;
  color: aliceblue;
}

li {

  list-style: none;
}

a:hover {

  background-color: rgb(119, 0, 230);

}



.container2 {

  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
}


footer:hover {

 color: rgb(119, 0, 230);

}


    
      display: flex;
      justify-content: center;
      margin-top: 200px;
      font-size: 12px;
      font-family: 'Lato', sans-serif;
    }
    
    
    footer:hover {
    
     color: rgb(119, 0, 230);
    
    }
    
    
