* {
    padding: 0;
    
    }
    
    .container {
    
    text-align: center;
    margin: 60px auto;
    font-family: 'Lato', sans-serif;
      
    }
    
    img{ 
    
      height: 100px;
      border-radius: 50%;
      border: 2px solid purple;
      padding: 2px;
    }
    
    ul li a {
    
    display: flex;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    height: 35px;
    background: purple;
    margin-left: 150px;
    margin-right: 150px;
    
    }
    
    
    a {
    
      text-decoration: none;
      color: aliceblue;
    }
    
    li {
    
      list-style: none;
    }
    
    a:hover {
    
      background-color: rgb(119, 0, 230);
    
    }
    
    
    
    .container2 {
    
      display: flex;
      justify-content: center;
      margin-top: 200px;
      font-size: 12px;
      font-family: 'Lato', sans-serif;
    }
    
    
    footer:hover {
    
     color: rgb(119, 0, 230);
    
    }
    
    